body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Die Stream-Box links ausrichten */
    align-items: flex-start; /* Die Stream-Box oben ausrichten */
    height: 100vh;
    background-color: #f0f0f0;
}

#twitch-embed {
    width: 800px;
    height: 600px;
}
